{% extends "blog/base.html" %}
{% comment %} extends "blog/base.html"表繼承blog/base.html {% endcomment %}

{% comment %} block title區塊表title會被替換為下方內容 {% endcomment %}
{% block title %}
    文章列表 - Django 大冒險
{% endblock title %}

{% block blog_content %}
    <h2>
        文章列表
    </h2>
    <div class="article-grid">
        {% comment %} empty區塊當articles沒有資料時會顯示目前沒有文章，有資料就不會執行empty區塊
        article_list.html與include共用同一個article命名空間
        但article改為article12時，就需要使用with將article12傳入include
        但通常會使用裡外變數一致的方式，不得已才使用with傳入參數的方式
        {% endcomment %}
        {% for article12 in articles %}
            {% include "blog/components/article_card.html" with article=article12 %}
        {% empty %}
            <li>
                目前沒有文章
            </li>
        {% endfor %}
    </div>
{% endblock blog_content %}
